@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

:root {
  font-size: 18px;
  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
  --Very-dark-blue-main-BG: hsl(217, 54%, 11%);
  --Very-dark-blue-card-BG: hsl(216, 50%, 16%);
  --Very-dark-blue--line: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Very-dark-blue-main-BG);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 300px;
  height: 550px;
  background-color: var(--Very-dark-blue-card-BG);
  border-radius: 12px;
  padding: 20px;
}

.logo-picture {
  width: 100%;
  height: 50%;
  background: url("images/image-equilibrium.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  position: relative;
}

.content {
  position: relative;
  font-family: "Outfit";
  max-width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.content .tittle {
  width: 100%;
  height: 20px;
  font-size: 1rem;
  color: var(--White);
}

.content .dec {
  font-size: 0.9rem;
  color: var(--Soft-blue);
  width: 100%;
  opacity: 0.8;
}

.content .buy-container {
  display: flex;
  justify-content: space-between;
  font-size: 0.7rem;
}

.content .buy-container .price {
  display: flex;
  align-items: center;
  font-weight: 900;
  color: var(--Cyan);
  letter-spacing: 2px;
}
.content .buy-container .time-left {
  display: flex;
  align-items: center;
  letter-spacing: 2px;
  color: var(--Soft-blue);
}
.icon {
  display: flex;
  margin-right: 8px;
}

.profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 40px;
  font-family: "Outfit";
  font-size: 0.9rem;
  text-align: center;
  color: var(--Soft-blue);
  border-top: 1px solid var(--Very-dark-blue--line);
}
.profile .name {
  color: var(--White);
}

.profile p {
  position: absolute;
  left: 40px;
  bottom: 15px;
}

img {
  max-width: 30px;
  height: 30px;
  border: 2px solid var(--White);
  border-radius: 100%;
  display: block;
  position: absolute;
  bottom: 10px;
}
